* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  /* display: flex; */
  background-image: url(./img/design-assets/bgk-header.png);
    justify-content: center;
  background-size: cover;
  text-align: center;
  align-items: center;
  /* display: flex;
  flex-direction: column; */
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
 height: auto;
  */
  /* width: 100vw; */ */
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header .navright {
  padding: 1rem;
}
header .navright ul {
  display: flex;
  flex-direction: row;
}

header .navright ul li {
  list-style: none;
  padding: 1rem;
}

header .navright ul li a {
  text-decoration: none;
  color: white;
}

.homebutton a {
  color: #279eb0;
}
header .navleft {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .navleft img {
  padding: 0.7rem;
}

header .navleft span {
  color: #279eb0;
  font-size: xx-large;
  font-weight: 3;
}

header .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 13rem;
  padding-left: 10rem;
  padding-right: 10rem;
  color: white;
}

header .hero h1 {
  padding: 1rem;
  font-family: "DM Serif Display", serif;
  font-size: xx-large;
  text-align: center;
}

header .header-hr {
  width: 3.12rem;
  align-items: center;
  border: 2px thin;
  margin: auto;
  border-color: #279eb0;
}

header .hero p {
  line-height: 25px;
  font-size: small;
  padding: 2rem 26%;
  align-items: center;
  text-align: center;
}

.button {
  background-color: transparent;
  border-color: #279eb0;
  color: #279eb0;
  padding: 1rem 1.3rem;
  margin-top: 2rem;
  font-weight: bolder;
  border-style: solid;
}

/* main */
/* section our story*/

#our_story-section {
  display: flex;
  justify-content: space-between;
  padding-right: 24%;
  padding-left: 24%;
  padding-bottom: 4rem;
  padding-top: 4rem;
  gap: 10%;
}

#our_story-section img {
  object-fit: none;
}

.textsection1 {
}

.textsection1 h2 {
  padding-bottom: 2rem;
  font-family: "DM Serif Display", serif;
}

.textsection1 p {
  color: rgb(101, 101, 101);
  
}

/* section */
#watch-section {
  background-image: url(./img/design-assets/bgk-middle.png);
  background-size: cover;
  height: 65vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.play span {
  padding: 1.5rem;

}



/* section */
/* section */
/* section */

/* footer */
